div(id="{$_name}")
	table(border="1")
		tr
			td
				img(src="logo.png")
			td
				h2 | Bal Vinay Mandir
				span | Haridas Ji Mangri, Udaipur
		tr
			td
				| No
			td
				| Receipt
			td
				| Date
		tr
			td
				| Student Name ____________________________________________________
				br		
				|Father Name ___________________________________class_______________
				br
				| Annual fees________________________in Word_________________________
				br
				| __________________________Thank You

		tr
			td
				| Amount
			td
				| Receiver Signature			 	

