
<div id="{$_name}" style="width:50% font-size:15px;" class="hindi  ">
  <link rel="stylesheet" type="text/css" href="templates/default/css/atk-main.css">
  <link rel="stylesheet" type="text/css" href="templates/default/css/epan.css">
  <div style="border:1px solid black;width:50%">
    <table style="">
      <tr>
        <td>रजि. नः 31/87-88</td>
        <td colspan="1">(राजस्थान सरकार द्वारा मान्यता प्राप्त)	</td>
      </tr>
      <tr>
        <td><img src="templates/default/images/1logo.png"/></td>
        <td colspan="1">
          <h3 align="center">बाल विनय मन्दिर उच्च माध्यमिक विद्यालय </h3>
          <h5 align="center">J-11 , हरिदासजी की मगरी , उदयपुर (राज)</h5><br/><br/>
        </td>
      </tr>
      <tr align="center">
        <td>रिसीप्ट  न. &&&&<?$receipt_no?>&&&</td>
        <td style="border:1px solid black">शिक्षण शुल्क  रसीद</td>
        <td class="english">दिनांक : <?$date?><br/><br/></td>
      </tr>
      <tr align="center">
        <td colspan="6" class=" hindi">नाम छात्र &&&&&<?$student_name?>&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&<br/>पिता का नाम &&&<?$father_name?>&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&<br/>कक्षाः&&&&&&<?$class?>&&&&&&&&&&&&माह&&&&&&&&&&शब्दों में:&nbsp; <?$amount?>&&&&&&&&&&&&&&&<br/>&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&सहधन्याद प्राप्त किये</td>
      </tr>
      <tr align="center">
        <td align="left">&#x20B9; :  <?$amount?></td>
        <td colspan="6" align="right">ह प्राप्त कर्ता			 	</td>
      </tr>
    </table>
  </div>
</div>