div(id="{$_name}")
	table(border="1")
		tr
			td
				| R/j No. 31/87,88
			td
				| (Rajasthan Sarkar Dwara Manyta Prapat)	
		tr
			td
				img(src="logo.png")
			td
				h2 | Bal Vinay Mandir
				span | J-11 Haridas Ji Mangri, Udaipur
		tr
			td
				| No
			td
				| Tuation fees Receipt
			td
				| Date
		tr
			td
				| Student Name ____________________________________________________
				br		
				|Father Name ___________________________________class_______________
				br
				| Tuation fees________________________in Word_________________________
				br
				| __________________________Thank You

		tr
			td
				| Amount
			td
				| Receiver Signature			 	

