
<div id="{$_name}">
  <table border="1">
    <tr>
      <td>R/j No. 31/87,88</td>
      <td>(Rajasthan Sarkar Dwara Manyta Prapat)	</td>
    </tr>
    <tr>
      <td><img src="logo.png"/></td>
      <td>
        <h2>| Bal Vinay Mandir</h2><span>| J-11 Haridas Ji Mangri, Udaipur</span>
      </td>
    </tr>
    <tr>
      <td>No</td>
      <td>Tuation fees Receipt</td>
      <td>Date</td>
    </tr>
    <tr>
      <td>Student Name ____________________________________________________<br/>Father Name ___________________________________class_______________<br/>Tuation fees________________________in Word_________________________<br/>__________________________Thank You</td>
    </tr>
    <tr>
      <td>Amount</td>
      <td>Receiver Signature			 	</td>
    </tr>
  </table>
</div>